.product-list {
  #default > .reset-indents-list();

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;

    @media @phone-only {
      .column-mixin(1, 10px);
    }

    @media @tablet-only {
      .column-mixin(2, 15px);
    }

    @media @tablet-landscape-only {
      .column-mixin(3, 30px);
    }

    @media @desktop {
      .column-mixin(3, 80px);
    }
  }
}
