.product-page {
  position: relative;
  flex-grow: 1;
  padding-top: 25px;
  padding-bottom: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::before {
    z-index: -2;
    background-color: #000000;
    background-image: url('../../images/pattern-repeat.jpg');
  }

  &::after {
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  }

  @media @tablet {
    display: flex;
    align-items: center;
  }

  &__slogan {
    #default > .reset-indents();

    margin-bottom: 20px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    color: @color-text_contrast;
    text-shadow: 0 1px 0 #000000;
    text-align: center;

    @media @tablet {
      margin-bottom: 25px;
      font-size: 26px;
    }

    @media @tablet-landscape {
      font-size: 30px;
    }

    @media @desktop {
      font-size: 36px;
    }
  }
}
