@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideUpReturn {
  0% {
    transform: translateY(-100%);
    transform-origin: 0 0;
  }

  100% {
    transform: translateY(0%);
    transform-origin: 0 0;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
