/** Fonts **/
.include-font(@file, @family, @weight: normal, @style: normal) {
  @font-face {
    font-weight: @weight;
    font-family: @family;
    font-style: @style;
    src: url('@{file}.woff2') format('woff2'), url('@{file}.woff') format('woff');
    font-display: swap;
  }
}

/** Media Queries **/
@tablet: ~'only screen and (min-width: @{tablet-size})';
@tablet-landscape: ~'only screen and (min-width: @{tablet-landscape-size})';
@tablet-landscape-small: ~'(min-width: @{tablet-landscape-size}) and (max-height: 620px)';
@desktop: ~'only screen and (min-width: @{desktop-size})';
@desktop-medium: ~'only screen and (min-width: @{desktop-medium-size})';
@desktop-large: ~'only screen and (min-width: @{desktop-large-size})';
@desktop-map-small-height: ~'only screen and (min-width: @{desktop-size}) and (max-height: 900px)';

@phone-max: ~'only screen and (max-width: @{to-tablet-size})';
@tablet-max: ~'only screen and (max-width: @{to-tablet-landscape-size})';
@tablet-landscape-max: ~'only screen and (max-width: @{to-desktop-size})';
@desktop-max: ~'only screen and (max-width: @{to-desktop-large-size})';

@phone-small-height-only: ~'only screen and (max-width: @{to-phone-small-height-size})';
@phone-small-only: ~'only screen and (max-width: @{to-phone-small-size})';
@phone-only: ~'only screen and (max-width: @{to-tablet-size})';
@phone-only-custom: ~'only screen and (max-width: @{to-desktop-size})';

@tablet-only: ~'(min-width: @{tablet-size}) and (max-width: @{to-tablet-landscape-size})';
@tablet-landscape-only: ~'(min-width: @{tablet-landscape-size}) and (max-width: @{to-desktop-size})';
@tablet-all-only: ~'(min-width: @{tablet-size}) and (max-width: @{to-desktop-size})';
@desktop-only: ~'(min-width: @{desktop-size}) and (max-width: @{to-desktop-large-size})';

@fine-hover: ~'(hover: hover) and (pointer: fine)';

/** Mixins tile **/
.column-mixin(@count, @margin) when (@count = 1) {
  width: 100%;
}

.column-mixin(@count, @margin) when (@count > 1) {
  width: ~'calc(' (100% / @count) ~' - ' ((@margin * (@count - 1)) / @count) ~')';
}

.column-mixin(@count, @margin) {
  margin-top: @margin;
  margin-right: @margin;

  &:nth-child(@{count}n) {
    margin-right: 0;
  }

  &:nth-child(-n + @{count}) {
    margin-top: 0;
  }
}

.placeholder(@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &:-moz-placeholder {
    color: @color;
  }

  &::-moz-placeholder {
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}

.scrollbar(@colorThumb) {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @colorThumb;
    border-radius: 10px;
  }
}

.string-cat(@lines, @lineHeight) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lines; /* number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: @lineHeight; /* fallback */
  max-height: @lineHeight * @lines; /* fallback */
  min-height: @lineHeight * @lines;
}

.auto-fill(@color) {
  filter: none;

  &:-webkit-autofill {
    font-size: 18px;
    line-height: 22px;
    -webkit-text-fill-color: @color;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.auto-fill-input(@color) {
  filter: none;

  &:-webkit-autofill {
    -webkit-text-fill-color: @color;
    transition: background-color 5000s ease-in-out 0s;
  }
}
