@color-main_light: #2ea8e6;
@color-main: #1698d9;

@color-secondary_light: #e62e7a;
@color-secondary: #d91667;

@color-contrast: #ffffff;

@gray_light: #f2f2f2;
@gray: #b3b3b3;

@color-text_light: #666666;
@color-text: #000000;
@color-text_contrast: @color-contrast;

@color-warning: #ffff66;

/** Variable media queries **/
@phone-size: 320px;
@tablet-size: 600px;
@tablet-landscape-size: 900px;
@desktop-size: 1240px;
@desktop-medium-size: 1440px;
@desktop-large-size: 1900px;

@to-phone-small-height-size: 650px;
@to-phone-small-size: 340px;
@to-tablet-size: 599px;
@to-tablet-landscape-size: 899px;
@to-desktop-size: 1239px;
@to-desktop-medium-size: 1439px;
@to-desktop-large-size: 1899px;

/** Fonts **/
@font: 'Exo';
@font-second: @font;

@font-main: '@{font}', sans-serif;
@font-secondary: '@{font-second}', sans-serif;

/** Path **/
@svg-path: '../assets/image/svg/';
