.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    border-radius: 10px;
    border: 4px solid @color-main;
    background-color: @color-contrast;
    cursor: pointer;
    transition: border-color 0.15s linear;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 0;
      height: 0;
      border: 19px solid transparent;
      border-top: 19px solid @color-main;
      border-left: 19px solid @color-main;
      transition: border-color 0.15s linear;
    }

    &:hover {
      border-color: @color-main_light;
    }

    &:hover::before {
      border-top-color: @color-main_light;
      border-left-color: @color-main_light;
    }
  }

  &_select &__card {
    border-color: @color-secondary;

    &::before {
      border-top-color: @color-secondary;
      border-left-color: @color-secondary;
    }
  }

  &_select &__card:hover {
    border-color: @color-secondary_light;

    &::before {
      border-top-color: @color-secondary_light;
      border-left-color: @color-secondary_light;
    }
  }

  &_disabled &__card {
    border-color: @gray;
    cursor: default;

    &::before {
      border-top-color: @gray;
      border-left-color: @gray;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-color: @gray;
      opacity: 0.5;
      clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    }
  }

  &__content {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;

    @media @tablet {
      margin-bottom: 25px;
      padding-top: 20px;
      padding-right: 35px;
      padding-left: 35px;
    }

    @media @tablet-landscape {
      margin-bottom: 30px;
      padding-top: 25px;
      padding-right: 45px;
      padding-left: 45px;
    }
  }

  &__description {
    #default > .reset-indents();

    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.2;
    color: @color-text_light;

    @media @tablet {
      margin-bottom: 15px;
      font-size: 14px;
    }

    @media @desktop {
      font-size: 16px;
    }
  }

  &__slogan,
  &__flavor {
    #default > .reset-indents();

    font-weight: 700;
    line-height: 1.2;
  }

  &__slogan {
    font-size: 24px;

    @media @tablet {
      font-size: 30px;
    }

    @media @tablet-landscape {
      font-size: 36px;
    }

    @media @desktop {
      font-size: 48px;
    }
  }

  &__flavor {
    margin-bottom: 10px;
    font-size: 16px;

    @media @tablet {
      margin-bottom: 15px;
      font-size: 20px;
    }

    @media @desktop {
      font-size: 24px;
    }
  }

  &__parameter {
    #default > .reset-indents();

    font-size: 12px;
    line-height: 14px;
    color: @color-text_light;

    @media @tablet-landscape {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__parameter-count {
    font-weight: bold;
  }

  &__image-container,
  &__image {
    width: 100%;
    height: auto;

    @media @desktop {
      height: 273px;
    }
  }

  &__image-container {
    position: relative;
    margin-top: auto;
  }

  &__image {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  &__weight {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 21px;
    line-height: 24px;
    color: @color-text_contrast;
    background-color: @color-main;
    border-radius: 50%;
    transition: background-color 0.15s linear;
  }

  &__card:hover &__weight {
    background-color: @color-main_light;
  }

  &_select &__card &__weight {
    background-color: @color-secondary;
  }

  &_select &__card:hover &__weight {
    background-color: @color-secondary_light;
  }

  &_disabled &__card &__weight {
    background-color: @gray;
  }

  &__weight-count {
    font-size: 42px;
    line-height: 38px;
  }
}
