.app {
  &:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border-left: 1.1em solid @color-main;
    border-radius: 50%;
    animation: rotating 1.1s infinite linear;
  }
}
