.product-caption {
  #default > .reset-indents();

  margin-top: 15px;
  min-height: 17px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 #000000;
  color: @color-text_contrast;

  &_disabled {
    color: @color-warning;
  }

  &__button {
    padding: 0;
    font-family: @font-main;
    font-size: 13px;
    line-height: 16px;
    color: @color-main;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed currentColor;
    cursor: pointer;
    transition: color 0.15s linear;

    &:hover,
    &:focus {
      color: @color-secondary;
    }

    &:focus {
      outline: none;
    }
  }
}
